<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Scheduler App</title>
    <!-- Link to your compiled CSS file -->
    <link rel="stylesheet" href="{% static '/css/main.3eddae8c.css' %}">
</head>
<body>
    <div id="root">
        <!-- Your React application will be rendered here -->
    </div>

    <!-- Link to your compiled JavaScript bundle -->
    <script src="{% static '/js/main.55850cd2.js' %}"></script>
</body>
</html>
