.building{
    height:175px;
    width:175px;
    background-size: cover;
}

.building-name{
    width: 100%;
    padding: 10px;
    background: rgba(0,0,0,0.5);
    color: white;
}

.classroom {
    height: 275px;
    width: 275px;
}

.bg-purple{
    background:#3c1952;
}

.bg-white{
    background:#ffffff;
}

